<%- include('../../templates/header') %>
    <div class="row">
        <div class="col-12">
            <h1 class="mb-5">Add Data Family</h1>
            <form action="add-family" method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" value="<%= typeof old !== 'undefined' ? old?.name : '' %>" placeholder="Input name" class="form-control">
                    <% if(typeof errors !== 'undefined'){ %>
                        <% errors.length > 0 ? errors.map((el,_index)=>{ %>
                            <div class="text-danger text-small">
                                <%= el?.name %>
                            </div>
                        <% }) : null %>
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <select name="gender" id="gender" class="form-control">
                        <option value="">-- select --</option>
                        <option value="male" <%= typeof old !== 'undefined' ? old?.gender == 'male' ? 'selected' : '' : '' %> >Male</option>
                        <option value="female" <%= typeof old !== 'undefined' ? old?.gender == 'female' ? 'selected' : '' : '' %>>Female</option>
                    </select>
                    <% if(typeof errors !== 'undefined'){ %>
                        <% errors.length > 0 ? errors.map((el,_index)=>{ %>
                            <div class="text-danger text-small">
                                <%= el?.gender %>
                            </div>
                        <% }) : null %>
                    <% } %>
                </div>
                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="/" class="btn btn-warning">Back</a>
                </div>
            </form>
        </div>
    </div>
<%- include('../../templates/footer') %>
